<div
  data-controller="modal--modal-component"
  class='fixed h-screen w-screen inset-0 z-10 bg-opacity-25 flex flex-col items-center justify-center'
>
  <div class="h-screen w-full cursor-pointer bg-sky-100/25" data-action="click->modal--modal-component#close">
  </div>
  <div class="absolute">
    <%= content %>
  </div>
</div>