<div data-controller="boxchat--form-component" data-boxchat--form-component-boxchat-id-value="boxchat_id" class="fixed flex flex-col content-between gap-y-2 bottom-2 right-2 bg-white rounded-md w-[350px] h-96">
  <%= render(Boxchat::HeaderComponent.new) %>
  <%= render(Boxchat::MessagesComponent.new) %>
  <%= render(Boxchat::FooterComponent.new) %>
</div>
