<div data-controller="boxchat--header-component" class="flex flex-row justify-between">
  <div class="w-full">Div 1</div>
  <div class="w-full flex flex-row justify-end">
    <div class="">Div 1</div>
    <div class="">Div 1</div>
    <div class="">Div 1</div>
    <%= render(Button::ExitComponent.new(exit_type: :boxchat)) %>
  </div>
</div>