<%= render(Button::ButtonComponent.new) do |component| %>
  <%= component.with_modal { render(Modal::ModalComponent.new) } %>
  <%= component.with_popover do %>
    <%= render(Popover::LeftComponent.new) do %>
      <div>ksahkjhsaklfjakljflkadjlk</div>
      <div>lkjslkjsadkljasld</div>
      <div>,znm,zn,cmxbmcbm,</div>
    <% end %>
  <% end %>
<% end %>