<%= render(Dropdown::HoverComponent.new) %>
<%= render(Dropdown::ClickComponent.new) %>

<button class="text-red-500 focus:text-violet-600 peer">jhakjhkajh</button>
<button class="text-red-500 peer-focus:text-green-600">jhakjhkajh</button>
