<div class="p-5">
  <div>gsakjdlksajdlsakdlkjsalkdjsalkjdlasjlds</div>

  <%= render(Card::CardComponent.new) do %>
    <div>hahahahah</div>
    <div>hahahahah</div>
    <%= render(Button::ExitComponent.new) %>
  <% end %>

  <div>gsakjdlksajdlsakdlkjsalkdjsalkjdlasjlds</div>

</div>
