<div data-controller="react--summary-rating-component" data-react--summary-rating-component-detail-rate-time-value="[100, 200, 300, 400, 745]" class="flex flex-col">
  <div class="flex items-center mb-2">
    <div data-react--summary-rating-component-target="starGroup" class="flex lfex-row"></div>
    <p data-react--summary-rating-component-target="summaryRate" class="ml-2 text-sm font-medium text-gray-900 dark:text-white">Loading...</p>
  </div>
  <p data-react--summary-rating-component-target="summaryTime" class="text-sm font-medium text-gray-500 dark:text-gray-400">Loading...</p>
  <div data-react--summary-rating-component-target="barGroup" class="flex flex-col-reverse"></div>
</div>