<div class="inline group fixed bottom-4 left-4" data-controller="dial--bottom-left-component">
  <button class="cursor-pointer group-hover:flex group-hover:flex-col-reverse">
    <div class="w-14 h-14 bg-sky-500 rounded-full flex items-center justify-center group">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white group-hover:rotate-90 duration-300">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </div>
    <div class="hidden group-hover:flex group-hover:flex-col">
      <h1>H1</h1>
      <h1>H2</h1>
      <h1>H3</h1>
    </div>
  </button>
</div> 