<div data-controller="alert--success-component" class="flex flex-row justify-between p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
  <% if content? %>
    <%= content %>
  <% else %>
    <div><%= @label %></div>
    <%= render(Button::CloseComponent.new) if @closable %>
  <% end %>
</div>