<div data-controller="alert--warning-component" class="flex flex-row justify-between p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
  <% if content? %>
    <%= content %>
  <% else %>
    <div><%= @label %></div>
    <%= render(Button::CloseComponent.new) if @closable %>
  <% end %>
</div>