<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>


      <%= text(type: :label, label: 'Test Floating Label', data: {'controller1-target' => 'target1', controller2_target: :target2}) %>






<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
