<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>


    <%= tab(controller: 'edit-text-by-input') do %>
      <div><%= text(label: 'Text need edit')%></div>
      <div><%= input %></div>
    <% end %>






<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
<div>/</div>
