 <div class="inline group" data-controller="button--toggle-left-sidebar-component" data-action="click->button--toggle-left-sidebar-component#toggle">
  <button class="cursor-pointer active:scale-95 duration-100">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>
</div> 