<div data-controller="banner--top-component" class="<%= @klass || "flex justify-between w-full p-4 border-b border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600" %>">
    <div class="<%= @content_class || "flex items-center mx-auto" %>">
      <%= content? ? content : "Content of the Banner!" %>
    </div>
    <%= render(Button::CloseComponent.new) %>
</div>