<div data-controller="popover--right-component" class='group-hover:flex group-hover:flex-col hidden absolute top-1/2 -right-3 transform translate-x-full -translate-y-1/2 cursor-default text-[8px] leading-normal rounded-sm bg-white border border-gray-300 shadow p-2'>
  <%= content? ? content : "Popover here! Popover here! Popover here!" %> 
  <div class="absolute -z-10 top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2 rotate-45 w-3 h-3 bg-white border-l border-b border-gray-300 shadow"></div>
</div>