<li data-controller="tab--head-component" data-action="click->tab--tab-component#openContent" data-tab--tab-component-target="head">
  <details class="cursor-pointer open:text-sky-600 open:border-b-2 open:border-sky-600">
    <summary class="list-none">
      <%= header %>
      <%= @label %>
      <%= footer %>
    </summary>
  </details>
</li>
