<nav data-controller="breadcrumb--breadcrumb-component" class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-1">
    <% items.each_with_index do |item, index| %>
      <%= item %>
    <% end %>
</nav>
