<div data-controller="table--table-component" class='relative overflow-x-auto'>
    <table data-table--table-component-target='table' class="<%= @klass || 'w-full text-sm text-left text-gray-500 dark:text-gray-400' %>">
      <%= content %>
    </table>
</div>
