<div data-controller="grid--masonry-component" class="columns-4 p-10 gap-3 space-y-3 w-full mx-auto shadow-2xl bg-white">
  <% items.each do |item| %>
      <div class="shadow-2xl flex justify-center rounded-xl">
        <%= item %>
      </div>
  <% end %>
  <% unless content? %>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" class="w-full h-full object-right" src="https://good-nature-blog-uploads.s3.amazonaws.com/uploads/2022/01/good-nature-homepage-hero_2-scaled.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg"></div>
    <div class="shadow-2xl flex justify-center rounded-xl"><img class="rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg"></div>
  <% end %>
</div>
