<div data-controller="dropdown--dropdown-component" class="relative inline-block group">
  <input type="button" class="peer flex flex-row justify-center items-center bg-blue-500 text-white p-2 rounded-md" value="Dropdown">
  <div class="absolute hidden peer-focus:inline-block">HAHAHA</div>
</div>
