<div data-controller="indicator--dot-component" data-indicator--dot-component-color-value="<%= @color %>" data-indicator--dot-component-number-value="<%= @number %>">
  <div class="absolute top-0 right-0 inline-flex items-center justify-center w-4 h-4 text-[8px] font-bold text-white bg-green-500 border-2 border-white rounded-full dark:border-gray-900"><%= @number %></div>
</div>
