<div data-controller="input--submit-component" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg w-fit text-sm text-center active:scale-95">
  <input class="px-5 py-2.5" type="submit" name="commit" value="<%= @label %>">
</div>